attrs
certifi
Click
cycler
Flask
Flask-Cors
importlib-metadata
gast
google-pasta
grpcio
gunicorn
Flask-MonitoringDashboard
itsdangerous
Jinja2
joblib
MarkupSafe
matplotlib
scipy
numpy
more-itertools
python-dateutil
scikit-learn
Werkzeug
wincertstore
tensorflow
opencv-contrib-python
moviepy
pydot
pafy